/*NAVBAR*/
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 4; /*SETS POSITION OF THE NAVBAR IN THE STACK LAYER SO IT IS ON TOP*/
}

ul{
    list-style-type: none; /*REMOVES THE DEFAULT BULLET POINT STYLING ON LIST TAG ELEMENTS*/
    background-color: #363636;
    margin: -10px -10px 0px -10px; /*MARGIN VALUE ORDER TOP, RIGHT, BOTTOM, AND LEFT*/
    overflow: hidden; /*HIDES EXCESS MARGIN SPACE EXPANDING PAST THE BROWSER WINDOW EDGE AND PREVENTS A LEFT TO RIGHT SCROLL BAR*/
    
}