/*IMPORT LINK FOR THE ROBOTO FONT FROM FONTS.GOOGLE.COM*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*IMPORT LINK FOR THE MUKTA FONT FROM FONTS.GOOGLE.COM*/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

body {
    background-color: white;
    overflow-x: hidden;
    /*HIDES THE BOTTOM LEFT RIGHT SCROLL BAR WHEN ELEMENTS STRETCH BEYOND THE SCREEN BORDER*/
}

/*NAVBAR*/

li {
    display: inline;
    padding: 5px;
}

a {
    font-family: 'Roboto', sans-serif;
    /*FONT FROM FONTS.GOOGLE.COM*/
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none;
    /*REMOVES THE DEFAULT LINK STYLING*/
}

a:hover {
    color: #d7eaf7;
    /*CHANGES THE COLOR OF THE ANCHOR ELEMENT WHEN A USER HOVERS THEIR MOUSE OVER IT*/
}

.nav-bar {
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    /*THE FOLLOWING MINUS MARGINS STRETCH THE NAVBAR BACKGROUND BEYON THE WEB BROWSER SCREEN EDGE*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    /*CREATES A STICKY ELEMENT THAT STAYS IN THE SAME SPOT IN THE BROWSER SCREEN*/
    top: 0;
    /*TELLS THE BROWSER TO STICK THE ELEMENT AT THE TOP OF THE PAGE BASED ON USER SCROLLING*/
    z-index: 9;
    /*SETS THE STACK LAYER OF THE NAVBAR TO SCROLL OVER ALL ELEMENTS*/
}

/*CREATES A LINE UNDER THE HOME AND CONTACT LINKS TO SEPARATE THEM FROM THE IMAGES LINKS*/
#nav-border {
    padding-bottom: 10px;
    border-bottom: 3px solid #FFFFFF;
}

/*HEADERS*/
h1,
h2,
h3 {
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta", sans-serif;
    /*FONT FROM FONTS.GOOGLE.COM*/
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3 {
    text-shadow: none;
}

/*CREATES A TEXT COLOR CHANGE ANIMATION ON THE H1 TAGS FOR THE HOME AND CONTACT PAGE HEADERS*/
@keyframes color-text {
    0% {
        color: #b5e1ff;
    }

    100% {
        color: #0a3f63;
    }
}

/*CALLS THE ANIMATION BY IT'S NAME IN A CSS SELECTOR SO IT CAN BE APPLIED TO A SPECIFIC HTML ELEMENT*/
.animate-text {
    animation: color-text 4s;
}

/*BODY CONTENT*/
img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    float: left;
    width: 48%;
    /*PLACES THE IMAGES SIDE BY SIDE WHEN THE FLOAT PROPERTY IS USED*/
    padding: 10px;
}

/*GROUPS ELEMENTS INSIDE A DIV ELEMENT TOGETHER AND FORCES ANY FLOATING ELEMENTS OUTSIDE OF THE DIV UNDER IT WITH THIS CLASS SELECTOR*/
.container {
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    /*PADDING WILL ADD AN INLINE SPACE SO THE ELEMENTS DON'T SIT ON THE EDGE OF THE DIV*/
    padding-bottom: 10px;
}

/*THIS IS PART OF THE .CONTAINER CLASS SELECTOR TO FORMAT THE ELEMENTS TO DISPLAY IN A TABLE LIKE FORMAT*/
.container::after {
    content: "";
    clear: both;
    display: table;
}

/*SETS UP THE SIZE OF EACH DIV THAT HOLDS AN IMAGE SO THE IMAGE CAN BE CENTERED*/
.image-container {
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

/*SETS THE BACKGROUND COLOR IN EACH DIV WITH AN IMAGE AND SPECIFIES WHICH ONES BY THE USE OF THE ID NAMES FOR EACH IMAGE*/
#cat {
    background-color: #d7eaf7;
}

#dog {
    background-color: #c3e0c5;
}

#bird {
    background-color: #c3e0c5;
}

#fish {
    background-color: #d7eaf7;
}

#reptile {
    background-color: #d7eaf7;
}

#small-pet {
    background-color: #c3e0c5;
}

/*SETS UP THE PROPERTIES FOR THE OVERLAY ON EACH IMAGE*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
}

/*THE :HOVER PSEUDO-CLASS TRIGGERS THE OVERLAY CLASS TO 60% OPACITY WHEN A USER HOVERS THEIR MOUSE OVER AN IMAGE*/
.overlay:hover {
    opacity: 0.6;
}

/*THIS SELECTOR TARGETS THE VIDEO ON THE PAGE*/
iframe {
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

/*STYLES THE DIV ELEMENT THAT HOLDS THE VIDEO*/
#video {
    background-color: #c3e0c5;
    padding-top: 5px;
    /*PADDING WILL ADD AN INLINE SPACE SO THE ELEMENTS DON'T SIT ON THE EDGE OF THE DIV*/
    padding-bottom: 50px;
}


footer {
    background-color: #216391;
    margin-top: 50px;
    /*NERGATIVE MARGINS STRETCH THE FOOTER BACKGROUND BEYOND THER WEB BROWSER SCREEN EDGE ON THE LEFT AND RIGHT */
    margin-right: -10px;
    margin-left: -10px;
    bottom: 0;
    /*POSITIONS THE FOOTER AT THE BOTTOM OF THE SCREEN*/
}

/*STYLES THE TABLE ELEMENTS WITHIN THE FOOTER TAGS */
table {
    width: 100%;
}

td {
    text-align: center;
    width: 33%;
    /*WE DIVIDE THE THREE COLUMBS EQUALLY SO THAT EACH COLUMB TAKES UP 1/3 OF TBHE BROWSER WIDTH*/
}

blockquote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

/*SPECIFICALLY STYLES THE PARAGRAPH ELEMENTS WITHIN THE TABLE DATA ELEMENTS*/
td p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

/*FORM CSS*/
form {
    padding: 15px;
    display:table;
    margin: auto;
}

input {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    transition: color 0.3s ease-out;
}

/*THE FOCUS PSEUDO-CLASS IS TRIGGERED WHEN A USER CLICKS ON AN INPUT ELEMENT*/
input:focus {
    box-sizing: border-box;
    border: 2px solid #0a3f63;
    color: #000000;
    transition: 0.3s ease-in;
    outline: none;
}

/*STYLES THE LABEL TAG ON THE CONTACT FORM*/
label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px;
}

/*The type selector for the textarea element for a user to write a message*/
textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

/*APPLIES DIFFERENT STYLING TO THE TEXTAREA WHEN USERS TRIGGER THE :FOCUS PSEUDO-CLASS BU CLICKING ON IT*/
textarea:focus {
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    transition: 0.3s ease-in;
    outline: none;
}

/*STYLES THE SUBMIT BUTTON*/
input[type="submit"] {
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

/*CHANGES THE BACKGROUND COLOR OF THE SUBMIT BUTTON WHEN A USER HOVERS OVER IT*/
input[type="submit"]:hover {
    background-color: #052133;
}