/*IMPORT LINK FOR THE ROBOTO FONT FROM FONTS.GOOGLE.COM*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*IMPORT LINK FOR THE MUKTA FONT FROM FONTS.GOOGLE.COM*/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

body {
    background-color: white;
    overflow-x: hidden; /*HIDES THE BOTTOM LEFT RIGHT SCROLL BAR WHEN ELEMENTS STRETCH BEYOND THE SCREEN BORDER*/
}

/*NAVBAR*/

li {
    display: inline;
    padding: 5px;
}

a {
    font-family: 'Roboto', sans-serif; /*FONT FROM FONTS.GOOGLE.COM*/
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46, 31, 31, 0.5);
    color: white;
    text-decoration: none; /*REMOVES THE DEFAULT LINK STYLING*/
}

a:hover{
    color: #d7eaf7; /*CHANGES THE COLOR OF THE ANCHOR ELEMENT WHEN A USER HOVERS THEIR MOUSE OVER IT*/
}

.nav-bar {
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    /*THE FOLLOWING MINUS MARGINS STRETCH THE NAVBAR BACKGROUND BEYON THE WEB BROWSER SCREEN EDGE*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky; /*CREATES A STICKY ELEMENT THAT STAYS IN THE SAME SPOT IN THE BROWSER SCREEN*/
    top: 0; /*TELLS THE BROWSER TO STICK THE ELEMENT AT THE TOP OF THE PAGE BASED ON USER SCROLLING*/
}

/*CREATES A LINE UNDER THE HOME AND CONTACT LINKS TO SEPARATE THEM FROM THE IMAGES LINKS*/
#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #FFFFFF;
}

/*HEADERS*/
h1, h2, h3 {
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta", sans-serif; /*FONT FROM FONTS.GOOGLE.COM*/
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3 {
    text-shadow: none;
}

/*CREATES A TEXT COLOR CHANGE ANIMATION ON THE H1 TAGS FOR THE HOME AND CONTACT PAGE HEADERS*/
@keyframes color-text {
    0% {
        color: #b5e1ff;
    }
    100%{
        color: #0a3f63;
    }
}

/*CALLS THE ANIMATION BY IT'S NAME IN A CSS SELECTOR SO IT CAN BE APPLIED TO A SPECIFIC HTML ELEMENT*/
.animate-text {
    animation: color-text 4s;
}

/*BODY CONTENT*/
img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    float: left;
    width: 48%; /*PLACES THE IMAGES SIDE BY SIDE WHEN THE FLOAT PROPERTY IS USED*/
    padding: 10px;
}

/*GROUPS ELEMENTS INSIDE A DIV ELEMENT TOGETHER AND FORCES ANY FLOATING ELEMENTS OUTSIDE OF THE DIV UNDER IT WITH THIS CLASS SELECTOR*/
.container {
    background-size: 100%; !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px; /*PADDING WILL ADD AN INLINE SPACE SO THE ELEMENTS DON'T SIT ON THE EDGE OF THE DIV*/
    padding-bottom: 10px;
}

/*THIS IS PART OF THE .CONTAINER CLASS SELECTOR TO FORMAT THE ELEMENTS TO DISPLAY IN A TABLE LIKE FORMAT*/
.container::after {
    content: "";
    clear: both;
    display: table;
}

/*SETS UP THE SIZE OF EACH DIV THAT HOLDS AN IMAGE SO THE IMAGE CAN BE CENTERED*/
.image-container {
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}